{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<style>

    body {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    table, th, td{
        border: solid 1px black;
    }

    th, td {
        padding: 10px;
    }

    th {
        color: white;
        background-color: grey;
    }

    td {
        font-size: small;
    }

    .spam {
        background-color:lightcoral;
    }

    .approved {
        background-color: lightgreen;
    }

</style>
{% endblock %}

{% block body %}

	{% if session.logged_in %}

	<h2>Blog Admin</h2>

	{% if error %}
	<p class="error">
		{{ error }}
	</p>
	{% endif %}

    {% block comments %}
    <h3>Comments</h3>

    Filters:
    <a href="{{ url_for('admin_comments', filter='all')}}">all</a>
    <a href="{{ url_for('admin_comments', filter='approved')}}">approved</a>
    <a href="{{ url_for('admin_comments', filter='spam')}}">spam</a>

    <table>
        <tr>
            <th>Post</th>
            <th>Date</th>
            <th>Commenter</th>
            <th>Commenter Email</th>
            <th>Commenter Website</th>
            <th>Comment</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <td> <a href="{{ url_for('show_post', post_slug=comment.post.slug)}}">{{ comment.post.title }}</a></td>
            <td> {{ comment.created_date }}</td>
            <td> {{ comment.author }}</td>
            <td> {{ comment.email }}</td>
            <td> {{ comment.website }}</td>
            <td> {{ comment.comment_body }}</td>
            <td> {{ comment.status() }}</td>
            <td>
                <a href="{{ url_for('approve_comment', comment_id=comment.id)}}">approve</a>
                <a href="{{ url_for('mark_spam', comment_id=comment.id)}}">spam</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}

    {% endif %}

{% endblock %}
