{% extends 'layout.html' %}

{% block body %}

	{% if session.logged_in %}

	<h2>Add New Post</h2>

	{% if error %}
	<p class="error">
		{{ error }}
	</p>
	{% endif %}

	<form action="{{ url_for('add_post') }}" method="POST">
		<input type="text" name="title" placeholder="Post Title">
		<br />
		<br />
		<textarea name="text" rows=10 cols=40 placeholder="Post Body"></textarea>
		<br />
		<br />
		<input type="text" name="tags" placeholder="Tags">
		<br />
		<br />
		<input type="checkbox" id="isPage" name="page">
		<label for="isPage"> Static Page? </label>
		<br />
		<br />
		<input type="submit" value="Publish">
	</form>

	{% endif %}

	{% for post in posts %}
	<h2 class="postTitle">
		<a href="{{ url_for('show_post', post_slug=post.slug) }}">{{ post.title }}</a>
	</h2>

	<p class="postDate">
		{{ post.created_date.strftime('%Y-%m-%d') }}

		][ Tags:
		{% for tag in get_tags(post.id) %}
			<a href="{{ url_for('show_posts_with_tag', tag=tag.tag) }}">{{ tag.tag }}</a>
		{% endfor %}
	</p>

	<div class="postText">
		{{ post.text_compiled|safe }}

		{% if session.logged_in %}
			<p class="postActions">
				<a href="{{ url_for('edit_post', id=post.id)}}">Edit</a>
				<a href="{{ url_for('delete_post', id=post.id)}}">Delete</a>
			</p>
		{% endif %}
	</div>

	{% endfor %}

{% endblock %}
