{% extends 'layout.html' %}

{% block body %}

	{% if session.logged_in %}
	
	<h2> Add New Post</h2>

	{% if error %}
	<p class="error">
		{{ error }}
	</p>
	{% endif %}
	
	<form action="{{ url_for('add_post') }}" method="POST">
		<input type="text" name="title" placeholder="Post Title">
		<br />
		<br />
		<textarea name="text" rows=10 cols=40 placeholder="Post Body"></textarea>
		<br />
		<br />
		<input type="text" name="tags" placeholder="Tags">
		<br />
		<br />
		<input type="submit" value="Publish">
	</form>

	{% endif %}

	{% for post in posts %}
	<h2 class="postTitle">
		<a href="{{ post.slug }}">{{ post.title }}</a>
	</h2>

	<p class="postDate">
		{{ post.created_date }}
		
		Tags:
		{% for tag in get_tags(post.id) %}
			<a href="#">{{ tag.tag }}</a>
		{% endfor %}
	</p>
	
	<div class="postText">
		{{ post.text_compiled|safe }}
	</div>
	{% endfor %}

{% endblock %}
