<!doctype html>
<html lang="en">
	<head>
		{% block head %}
			{% block title %}
			<title>Lev's Hacking Notes</title>
			{% endblock %}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width; initial-scale=1.0" />
			<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
			<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
		{% endblock %}
	</head>

	<body>

		<h1 class="blogTitle"> Lev's Hacking Notes </h1>

		<nav>
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('archive') }}">Archive</a>
			<a href="{{ url_for('show_tags_list') }}">Tags</a>

			{% for page in get_static_pages() %}
				<a href="{{ url_for('show_post', post_slug=page.slug) }}"> {{ page.title }} </a>
			{% endfor %}

			<a href="{{ url_for('gen_feed') }}">RSS</a>

			{% if not session.logged_in %}
			<a href="{{ url_for('login') }}">Log In</a>
			{% else %}
			<a href="{{ url_for('logout') }}">Log Out</a>
			{% endif %}

			<form id="searchForm" action="/search" method="get">
				<input type="text" name="query" placeholder="Search for anything"required>
				<input type="submit" value="Search">
			</form>

		</nav>

		{% for message in get_flashed_messages() %}

		<span class="flash">{{ message }}</span>

		{% endfor %}

		{% block body %}
		{% endblock %}

		<footer>
			<span class="left">
			<small>
	 		Copyright &copy; 2021 Lev Lazinskiy
			<br>
				All content in this blog is released under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons CC BY-SA 4.0 License</a>.
			</small>
			</span>
		</footer>

	</body>
</html>

