<!doctype html>
<html lang="en">
	<head>
		{% block title %}
		<title>levlaz</title>
		{% endblock %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>

	<body>

		<h1 class="blogTitle"> levlaz </h1>

		<nav>
			<a href="{{ url_for('index') }}">Home</a>
			<a href="{{ url_for('archive') }}">Archive</a>
			<a href="{{ url_for('show_tags_list') }}">Tags</a>

			{% for page in get_static_pages() %}
				<a href="{{ url_for('show_post', post_slug=page.slug) }}"> {{ page.title }} </a>
			{% endfor %}

			<a href="{{ url_for('gen_feed') }}">RSS</a>

			{% if not session.logged_in %}
			<a href="{{ url_for('login') }}">Log In</a>
			{% else %}
			<a href="{{ url_for('logout') }}">Log Out</a>
			{% endif %}

			<form id="searchForm" action="search" method="get">
				<input type="text" name="query" placeholder="Search for anything"required>
				<input type="submit" value="Search">
			</form>

		</nav>

		{% for message in get_flashed_messages() %}

		<span class="flash">{{ message }}</span>

		{% endfor %}

		{% block body %}
		{% endblock %}

		<footer>
			<span class="left">
	 		Copyright &copy; 2011 - 2017 <a href="https://levlaz.org/about-me">Lev Lazinskiy</a>
			<br />
			<a class="cc" href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license"><img class="cc" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" alt="Creative Commons License"/></a>
			<br />
				<span class="about_software">
				Running on <a href="https://github.com/levlaz/blog">levlaz/blog</a>. A simple blogging app written in Python and licensed under the <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License v3</a>.
				<br />
				<br />
				<span>
			</span>
		</footer>

	</body>
</html>

