{% extends 'layout.html' %}

{% block title %}
	<title>levlaz | {{ post.title }} </title>
{% endblock %}
{% block body %}

	<h2 class="postTitle">
		<a href="/{{ post.slug }}">{{ post.title }}</a>
	</h2>

	<p class="postDate">
		{{ post.created_date.strftime('%Y-%m-%d') }}

		Tags:
		{% for tag in get_tags(post.id)  %}
		<a href="{{ url_for('show_posts_with_tag', tag=tag.tag) }}">{{ tag.tag }}</a>
		{% endfor %}
	</p>

	<div class="postText">
		{{ post.text_compiled|safe }}

		{% if session.logged_in %}
			<p class="postActions">
				<a href="{{ url_for('edit_post', id=post.id)}}">Edit</a>
				<a href="{{ url_for('delete_post', id=post.id)}}">Delete</a>
			</p>
		{% endif %}

		<div class="postComment">
			<form action="{{ url_for('add_comment', id=post.id) }}" method="POST">
				<input type="text" name="author" placeholder="Your Name">
				<br />
				<br />
				<input type="text" name="email" placeholder="Your Email (optional)">
				<br />
				<br />
				<input type="text" name="website" placeholder="Your Website (optional)">
				<br />
				<br />
				<textarea name="comment_body" rows=20 cols=80 placeholder="Your Comment"></textarea>
				<br />
				<br />
				<input type="submit" value="Add Comment">
			</form>
		</div>

		<h3> Post Comments ({{ get_comment_count(post.id) }})</h3>
		{% for comment in get_comments(post.id) %}
			<p class="comment">
				{% if not comment.author %}
					<span class="commentAuthor">Anonymous</span>
				{% else %}
				<span class="commentAuthor">
				<a target="blank" href="http://{{ comment.website }}">{{ comment.author }}</a>
				</span>
				{% endif %}
				<span class="commentDate">{{ comment.created_date.strftime('%Y-%m-%d')}}</span>
				<br />
				{{ comment.comment_body|e }}
			</p>
		{% endfor %}

	</div>

{% endblock %}
