<html>
<body>

    <script>

    var msg = `
    hi.

    it looks like you were trying to add some spam to my blog.

    why?

    go fuck yourself instead.
    `
    window.alert(msg)
    </script>

<div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/D7cIragSKMn8k" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/fuck-you-go-yourself-D7cIragSKMn8k">via GIPHY</a></p>

</body>
</html>